body{
    font-family: Ariel, sans-serif;
    color: #333;
    background-color:cornsilk;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header{
    background-color:gold;
    color: rgb(10, 10, 10);
    padding: 20px;
    text-align: center;
}
header h1{
    margin: 0;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover{
    text-decoration: dotted;
}
main{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
main img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}
footer{
    background-color: #0a0808;
    color: rgb(245, 242, 238);
    text-align: left;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
p{
    font-size: 1.1em;
}
a{
    color: #052380;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
img{
    border: 1px solid #0e0e10;
    border-radius: 10px;
}
main a[href="mailto:"]{
    color: #315483;
    font-weight: bold;
}
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    width: 220px;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
}

.card i {
    font-size: 30px;
    margin-bottom: 10px;
    color: #333;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}
.card a:hover {
    text-decoration: underline;
}
